* {
  box-sizing: border-box;
  margin: 0;
}
.general-div {
  margin: 15em auto 5em auto !important;
  gap: 5em;
  display: flex;
  width: 90%;
  flex-direction: row !important;
  justify-content: space-between;
}
.left-root {
  margin-top: 7em;
  gap: 1em 0em;
  width: 20%;
  background-color: white !important;
  display: flex !important;
  height: 300px;

  position: sticky;
  top: 10em;
  flex-direction: column;
}
.right-root {
  width: 60%;

  display: flex;
  margin: 0em auto;
  flex-direction: column;
}
.top-side {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between !important;
}
.left-div {
  width: 60% !important;
}
.right-div {
  width: 40% !important;
}
.bottom-div {
  width: 100%;
}

.small-images-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;

  gap: 0.1em 0.3em;
  background-color: white;
}
.small-image {
  margin-top: 0.3em;
  height: 4em;
  width: 5.95em;
  object-fit: cover;
  cursor: pointer;
}
.active {
  border: 2px solid var(--stratos);
}
.right-div {
  width: 30%;
  padding: 0em 0em;
  display: flex;
  flex-direction: column;
  gap: 1em 0em;
}
.advert-detail-title-div {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em;
}
label {
  font-size: 1.5em;
  font-weight: 400;
}

span {
  font-size: 1.7em;
  font-weight: 200;
  padding-left: 0.5em;
}
button {
  background-color: var(--stratos) !important;
  color: white !important;
  border-radius: 0em !important;
  text-align: center !important;
}
button:hover {
  background-color: var(--regal-blue) !important;
}
.advert-detail-header {
  font-size: 3em !important;
  margin-bottom: 1em;
  font-weight: 400;
}
.bottom-div {
  padding: 5em 0em;
}

.bottom-advert-desc {
  border: 1px solid var(--regal-blue) !important;
}
.bottom-advert-desc h4 {
  background-color: var(--stratos) !important;
  color: white;
  padding: 1em 2em;
}
.bottom-advert-desc p {
  padding: 1em 2em;
  font-size: 1.2em;
}
.bottom-similar-advert {
  display: flex;
  margin: 0em auto 5em auto;
  width: 80%;
  justify-content: center;
  gap: 0 2em;
}
.left-root a {
  border: 1px solid var(--stratos);
  background-color: var(--stratos) !important;

  padding: 0.5em 1em;
  text-align: center;
}
.left-root a:hover {
  background-color: var(--regal-blue) !important;
  color: white !important;
}
.advert-detail-big-img {
  width: 100%;
  object-fit: contain !important;
}
.big-image-div {
  width: 100%;
  height: 20em;
  background-color: white !important;
  display: flex;
  flex-direction: center;
  border: 1px solid var(--stratos);
}
.advert-detail-send-message-link {
  background-color: var(--stratos) !important;
  color: white !important;
  font-size: 1.5em !important;
  padding: 0.3em 3em;
  font-weight: 300;
  border-radius: 0.3em;
}
.advert-detail-send-message-link:hover {
  background-color: var(--regal-blue) !important;
  color: white !important;
}
.advert-detail-send-mesage-div {
  margin-top: 3em;
}
