* {
  box-sizing: border-box;
  margin: 0;
}
.root {
  width: 80% !important;
  margin: 10em auto 10em auto !important;
  display: flex;
  flex-direction: column;

  align-items: center !important;
  justify-content: center !important;
}
.input-div input[type="search"] {
  padding: 0.6em;
  border-radius: 0.5em;
  border: 1px solid var(--stratos);
}
.input-div {
  width: 100%;
}
.input-div input[type="search"]:focus {
  outline: none !important;
}
.search-div {
  width: 100%;
  flex-direction: row !important;
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;

  justify-content: space-between !important;
}
.advert-searchbar {
  width: 80%;
}
.search-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: end;

  gap: 0 1em;
  width: 40%;
}
.search-buttons-div a {
  padding: 0.5em 1em !important;
  background-color: var(--stratos);
  color: white !important;
  border-radius: 0.3em;
}
.search-buttons-div a:hover {
  background-color: var(--regal-blue) !important;
  color: white !important;
}
.adverts-div {
  width: 100%;
  display: flex;
  flex-direction: row;

  gap: 0em 2em;
}
.filter-div {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2em 0em;
  padding-right: 3em !important;
  border-right: 1px solid var(--botticelli);
}
.advert-list-div {
  width: 100% !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white !important;
}
button {
  background-color: white !important;
  color: var(--stratos) !important;
  margin: 0 !important;
  padding: 0.5em 1em !important;
  width: 100% !important;
  font-size: 1.2em !important;
  border-radius: 0.5em !important;
  text-align: start;
}
button:hover {
  background-color: var(--stratos) !important;
  color: white !important;
}

.advert-list-inner-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white !important;
  gap: 1em 0em;
}
.filter-div div h4 {
  font-size: 2em !important;
}
.advert-category-button {
  border: 0.1em solid var(--stratos) !important;
}
.adverts-div .filter-div div button {
  border-radius: 0.3em !important;
}
