* {
  box-sizing: border-box;
  margin: 0;
}
.announce-detail-root {
  margin: 7em auto 7em auto;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.announce-detail-left {
  margin-top: 7em;
  gap: 1em 0em;
  width: 20%;
  background-color: white !important;
  display: flex !important;
  height: 300px;

  position: sticky;
  top: 10em;
  flex-direction: column;
}
.announce-detail-left a {
  background-color: var(--stratos) !important;
  font-size: 1em !important;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 0.3em !important;
}
.announce-detail-left a:hover {
  background-color: var(--regal-blue) !important;
  color: white !important;
}
.right-announce-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 5em;
  margin: 2em auto;
  border: 1px solid lightgray;
  border-radius: 1em;
}
.announce-detail-img-div {
  width: 100%;
}
.announce-detail-img-div img {
  object-fit: cover;
  width: 100%;
  border-radius: 1em;
}
h3 {
  text-align: center;
  margin-bottom: 0em !important;
}
.announce-detail-div {
  display: flex;
  flex-direction: column;
  gap: 1em 0em;
}
.announce-date {
  border-radius: 1em !important;
  padding: 1em;
}
.announce-date p {
  float: right;
  border-radius: 0.3em;
  font-size: 1.3em;
  background-color: var(--stratos);
  padding: 0.3em 0.6em;
  color: white;
}
.announce-detail-desc {
  font-size: 1.2em;
  word-wrap: break-word;
}
.detail-title::first-letter {
  text-transform: uppercase;
}
.announce-detail-university {
  color: white !important;
  border-radius: 0.3em;
  background-color: var(--stratos);
  display: flex;
  justify-content: center;
  padding: 0.3em 0.5em;
  font-size: 1.2em;
}
