.to-announce {
  float: right;
  background-color: var(--stratos);
  padding: 0.5em 1em;
  color: white !important;
  border-radius: 0.3em;
}
.to-announce:hover {
  background-color: var(--regal-blue);
  color: white !important;
}

.announcement {
  border-radius: 0.3em !important;
}
