.contact-div {
  margin: 9em 7em;
  display: flex;
  flex-direction: row;
}
.contact-right {
  width: 50%;
  height: 500px;
  background-color: white;
  border: 1px solid var(--stratos);
  border-radius: 0em 0.5em 0.5em 0em !important;
}
.contact-left {
  width: 50%;
  height: 500px;
  background-color: var(--stratos);
  padding: 5em;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em 0em;
  border-radius: 0.5em 0em 0em 0.5em !important;
}

.title {
  font-size: 3em;
  margin-bottom: 1em;
  color: white !important;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
  gap: 1.4em 0;
}
.contact-right .contact-form input,
textarea {
  width: 100%;
  border-radius: 0.3em;
  padding: 0.8em !important;
  border: 1px solid var(--stratos);
}
.contact-send {
  border: none !important;
  border-radius: 0.3em !important;
}
.contact-right .contact-form input:focus {
  outline: none !important;
}
@media screen and (max-width: 768px) {
  .contact-div {
    display: flex;
    flex-direction: column;
  }
  .contact-right {
    width: 100%;
  }
  .contact-left {
    width: 100%;
  }
}
