.contact-div {
  margin: 9em 7em;
  display: flex;
  flex-direction: row;
}
.contact-right {
  width: 50%;
  height: 500px;
  background-color: white;
  border: 1px solid var(--stratos);
}
.contact-left {
  width: 50%;
  height: 500px;
  background-color: var(--stratos);
  padding: 5em;
  color: white;
}

.title {
  font-size: 3em;
  margin-bottom: 1em;
  color: var(--botticelli) !important;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
  gap: 1.4em 0;
}
input,
textarea,
button {
  width: 100%;
  border-radius: 0;
}
button {
  border: none !important;
  background-color: var(--stratos);
  color: var(--botticelli);
}
button:hover {
  background-color: var(--bondi-blue);
  color: var(--botticelli);
}

@media screen and (max-width: 768px) {
  .contact-div {
    display: flex;
    flex-direction: column;
  }
  .contact-right {
    width: 100%;
  }
  .contact-left {
    width: 100%;
  }
}
