.basic-info2 {
  font-size: 0.8em !important;
}
.left-profile-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 0.7em !important;
}
.profile-select {
  overflow-y: auto !important;
  line-height: 30px !important;
}
