* {
  box-sizing: border-box;
  margin: 0;
}
.event-root {
  width: 80% !important;
  margin: 10em auto 10em auto !important;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.events {
  width: 80% !important;
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em 1em !important;
  background-color: white !important;
}
.event-header-title {
  margin-top: -0.5em !important;
}
.events :hover {
  cursor: pointer;
}
img {
  width: 20%;
}
.event-categories {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2em 0em;
  position: sticky;
  height: 600px;
  top: 10em;
  padding-right: 3em !important;
  border-right: 1px solid var(--botticelli);
}
.event-categories button {
  text-align: center;
  border: 1px solid var(--stratos);
  
  border-radius: 0.3em !important;
}

@media screen and (max-width: 992px) {
  .event {
    width: 100%;
  }
}
