footer {
  height: 100%;
  width: 100%;
  background-color: var(--stratos);
  padding: 5em;
  display: flex;
  color: var(--botticelli);
}

.logo-div {
  display: flex;
  flex-direction: row;
}
.footer-divider {
  display: flex;
  flex-direction: column;
}
.about-us {
  margin-top: 3em;
}
.sosyal-footer {
  text-align: center;
}
.sosyal-footer h2 {
  margin-bottom: 1em;
}
a {
  text-decoration: none !important;
  color: var(--botticelli) !important;
}
.sosyalmedya-footer {
  margin-bottom: 1em;
  text-align: center;
}
.sosyalmedya-footer h2 {
  margin-bottom: 1em;
}
.social-icons {
  color: var(--botticelli);
}
