footer {
  height: 100%;
  width: 100%;
  background-color: var(--stratos);
  padding: 2em 5em;
  display: flex;
  justify-content: space-evenly;

  color: var(--botticelli);
}
.footer-div {
  display: flex;
  flex-direction: column;
}
.footer-div .brand {
  font-size: 2em;
  margin-bottom: 1em;
}
.footer-div h5 {
  font-size: 2.3em;
  margin-bottom: 1em;
}
.footer-div h5 {
  font-size: 2.3em;
  margin-bottom: 1em;
}
.social {
  display: flex;
  gap: 0 2em;
  flex-direction: row;
}

a {
  text-decoration: none !important;
  color: var(--botticelli) !important;
}
