.container {
  width: 80% !important;
}

.home-card {
  border: 0px solid black;
  border-radius: 1em;
  padding: 2.3em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
  background-color: antiquewhite;
  box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.home-card:hover {
  transition: 10%;
  transform: scale(1.1);
}
img {
  object-fit: cover;
  border-radius: 2em;
}
.basliklar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid purple;
  border-radius: 1em;
}
.baslik-div {
  background-color: aqua;
  width: 100%;
  border-radius: 1em 1em 0 0;
}
