.container {
  width: 80% !important;
}
.options {
  display: flex;
  width: 100%;
  margin-top: -2em;
  justify-content: center;
  padding: 5em 7em;
  gap: 0 3em;
  background-color: var(--botticelli);
}

.options .links {
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.5), 0 35px 22px rgba(0, 0, 0, 0.16);
  font-size: 2em;
  width: 100%;
  justify-content: center;
  background-color: var(--stratos);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.15em;
}
.options .links:hover {
  transform: scale(1.05);
  color: white !important;
}

.title-links {
  display: block !important;
  font-size: 3em;
  text-align: center !important;
  padding-top: 1em;
  background-color: var(--botticelli) !important;
  color: var(--stratos);
}
.links-text {
  position: relative;
  color: white !important;
}

.infos-div {
  margin: 0em auto;
  justify-content: space-between;
  display: flex;
  width: 100%;

  background-color: var(--regal-blue);
  color: var(--botticelli);
}
.infos {
  font-size: 1.5em;
}
.info {
  font-size: 1.2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 33%;
  background-color: var(--stratos);
  padding: 2em 2em;
}
.info p {
  text-align: justify;
}
.info-student {
  background-color: var(--stratos);
}
.info-home {
  background-color: var(--regal-blue);
}
.info-company {
  background-color: var(--bondi-blue);
}
.last-news-announce-events {
  display: flex;
  margin: 5em auto;
  background-color: white;
  justify-content: center;
  width: 90%;
  gap: 0 3em;
}

.inner-div {
  display: flex;
  margin-bottom: 10em;

  flex-direction: column;
  justify-content: flex-start;

  min-height: 20em;
  gap: 1em 0em;
  padding: 1em 1em;
  color: beige;
}
.title-div {
  text-align: center;
}
.title-div .title {
  font-size: 2em !important;
  color: var(--stratos) !important;
}
