.photo-buttons {
  display: flex;
  flex-direction: column;
  gap: 2em 0em;
}
.photo-buttons a {
  text-align: center;
  background-color: var(--bondi-blue);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em !important;
  color: white !important;
  border-radius: 0.3em;
}
.photo-buttons a:hover {
  background-color: var(--regal-blue) !important;

  color: white !important;
}

.my-advert-root {
  display: flex;
  flex-direction: row;
  margin: 10em auto;
  width: 80%;

  gap: 0em;
}
.delete-my-advert-button {
  border: none !important;
}
.profile-pic-my-advert-div {
  display: flex;
  justify-content: center;
}
.profile-pic-my-adverts {
  width: 40%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 2/2;
}
.profile-left-my-adverts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.profile-right {
  width: 80%;
}
