* {
  box-sizing: border-box;
  margin: 0;
}
.my-messages-container {
  margin: 8em auto;
  width: 90% !important;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  gap: 0em 2em;
  height: 80vh;
}
.chat-users-left-side {
  width: 30%;
  border: 1px solid lightgray;
  padding-top: 1em;
  border-radius: 1em;
}
.messages-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  border: 1px solid lightgray;
  border-radius: 1.1em;
}
.chat-user-info {
  width: 100%;
  background-color: yellow;
}
.chat-area-messages {
  height: 80% !important;
  padding: 0em 2em;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1em auto;
  justify-content: start;
  overflow: auto;
}
.chat-send-message {
  border-radius: 1em;
  height: 25%;
}
.chat-send-message-form {
  display: flex;
  flex-direction: row;
  padding: 2em;
  justify-content: center;
  gap: 2em;
}
.chat-send-message-form textarea {
  width: 85% !important;
}
.chat-send-message-form button {
  width: 15% !important;
  border: none;
  border-radius: 0.3em !important;
  padding: 0.2em 0.4em !important;
}
.chat-area-reciever-side {
  height: 25%;
  display: flex;
  padding: 0em;
  flex-direction: row;
  justify-content: space-between;
}
.chat-infos-and-prof-pic {
  display: flex;
  flex-direction: row;
  gap: 0em 1em;
  width: 100%;
  background-color: var(--stratos);
  border-radius: 1em;
  padding: 1em;
  justify-content: start;
  color: white !important;
}
.reciever-profile-pic,
.reciever-advert-pic {
  height: 5em !important;
}
.reciever-advert-pic {
  align-self: end !important;
}
.reciever-profile-pic img {
  width: auto;
  height: 5em !important;
  object-fit: cover;
  aspect-ratio: 2/2;
  border-radius: 50%;
}
.reciever-advert-pic img {
  width: auto;
  height: 5em !important;
  object-fit: cover;
  aspect-ratio: 2/2;
  border-radius: 0%;
}
.reciever-infos {
  display: flex;
  flex-direction: row;
}
.message-right-side {
  justify-self: flex-end !important;
  align-self: flex-end;
}
.message-right-side,
.message-left-side {
  border: 1px solid lightgray;
  border-radius: 0.5em;
  padding: 0.4em;
  margin: 0.3em 0em;
}
.message-left-side {
  justify-self: flex-start !important;
  align-self: flex-start;
}

.chat-area-message-show {
  width: 100%;
  display: flex;
  margin-left: -1em !important;
  flex-direction: column;
}
.chat-users-left-side-infos {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0em 1em;
  width: 100%;
}
.chat-users-left-side-infos-img-div {
  background-color: white !important;
  width: 3em;

  height: 3em;
  border-radius: 50%;
}
.chat-users-left-side-infos-img-div img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 2/2;
  background-color: black;
}
.chat-users-left-side-infos-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.chat-users-left-side-infos-list hr {
  width: 100%;
  margin-left: -1em;
}
.chat-users-left-side-infos-name-span {
  font-size: 1.3em;
}
.top-send-message-hr {
  width: 100%;
  margin-bottom: 0em;
}
.send-massage-text-area {
  border: 1px solid lightgray;
}
