* {
  box-sizing: border-box;
  margin: 0;
}
.navbar {
  top: 0;
  width: 100%;
  display: flex;
  position: fixed !important;
  justify-content: space-between !important;
  padding: 1em 2em !important;
  gap: 0em 10em;
  z-index: 1;
  background-color: var(--stratos);
}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0 !important;

  gap: 0 0em;
}

.link {
  text-decoration: none;
  color: var(--botticelli);
}
a {
  font-size: 1.3em;
}
a:hover {
  color: rgb(224, 224, 97) !important;
}
.logo {
  font-size: 1.3em;
}
