* {
  box-sizing: border-box;
  margin: 0;
}
.navbar {
  top: 0;
  width: 100%;
  display: flex;
  position: fixed !important;
  justify-content: space-between !important;
  padding: 1em 2em !important;
  gap: 0em 8em !important;
  z-index: 1;
  background-color: var(--stratos);
}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0 !important;

  gap: 0 2em;
}

.link {
  text-decoration: none;
  color: var(--botticelli);
}
a {
  font-size: 1.3em;
}
a:hover {
  color: rgb(224, 224, 97) !important;
}
.logo {
  font-size: 1.3em;
}

/*------------------------------
  DROP DOWN MENU
*/

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  margin-right: 3em !important;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white !important;
  background-color: var(--stratos);
  text-decoration: none;
  display: block;
  font-size: 1em !important;
}

.dropdown-content a:hover {
  background-color: var(--regal-blue);
}

.dropdown:hover .dropdown-content {
  display: block;
}
