.profile-root {
  width: 100%;
  margin: 7em auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0em 5em;
}
.profile-left {
  width: 20% !important;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2em 0em;
  border-right: 1px solid lightgray;
}
.photo-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em 0em;
}
.profile-pic-div {
  width: 50%;
  display: flex;
  padding: 1em;
}

.profile-pic {
  border-radius: 0.1em;
  width: 100%;
  height: auto;

  min-height: 7em;
  object-fit: cover;
  margin: 1em auto;
}

.profile-right {
  width: 75%;
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
  gap: 1em 0em !important;
}
.inputs-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3em;
}
input,
textarea {
  width: 100%;
  padding: 1.3em;
  text-align: start;
}
label {
  font-size: 1.3em;
  font-weight: 200;
}
.profile-title {
  width: 100%;
  text-align: start;
  float: left;
}
hr {
  width: 100%;
}
.profile-title h3 {
  font-weight: 300;
  float: left;
}
.inputs div input:focus {
  outline: 1px solid var(--stratos);
}
textarea:focus {
  outline: 1px solid var(--stratos);
}

.photo-buttons {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.basic-info {
  display: flex;
  flex-direction: column;
  gap: 1em 0em;
}
.contact-infos {
  display: flex;
  flex-direction: column;
  gap: 1em 0em;
}
.input-phone {
  width: 100% !important;
}
.inputs {
  width: 60%;
}
.buttons-div {
  display: flex;
  flex-direction: row;
  gap: 0em 1em;
}
