* {
  box-sizing: border-box;
  margin: 0;
}
.profile-root {
  width: 60%;
  margin: 7em auto;
  align-items: center;
}
.profile-main-div {
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.5), 0 35px 22px rgba(0, 0, 0, 0.16);
  border-radius: 1em;
  padding: 5em 5em;
}
.middle-side-profile {
  display: flex;
  flex-direction: row;

  width: 100%;
  border-radius: 1em;

  padding: 2em;
}
.middle-side-profile-img {
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
  border-color: white;
  aspect-ratio: 2/2;
  border: 2px solid var(--stratos);
}
.go-to-edit-profile {
  background-color: var(--stratos);
  padding: 0.5em 0.1em !important;
  border-radius: 0.5em;
  color: white !important;
  width: 50% !important;

  text-align: center;
}
.go-to-edit-profile:hover {
  background-color: var(--regal-blue) !important;
  color: white !important;
}
.profile-header {
  color: black !important;
  font-size: 4em !important;
}
.profile-customer-name {
  font-size: 1.5em !important;
  font-weight: 300;
}

.profile-p {
  font-size: 1em;
}
.profile-p::first-letter {
  text-transform: uppercase;
}
.middle-profile-advert-area {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}
.proflle-advert-titles {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row !important;
  gap: 1em 0.5em;
  width: 100%;
}
.profile-advert-button {
  text-align: left !important;
  width: 23%;
  border: none !important;
  padding: 1em;
  color: white !important;
  border-radius: 0.3em !important;
  background-color: var(--stratos);
}
.profile-advert-button:hover {
  color: white !important;
  background-color: var(--regal-blue);
}
.event-i-will-go-title {
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
}
.profile-events {
  color: black !important;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0em 1em;
}
.profile-events:hover {
  color: black !important;
}
.cancel-profile-span {
  background-color: var(--stratos) !important;
  color: white;
  border-radius: 0.3em !important;
  font-size: 0.9em !important;
  border: none;
  width: 20% !important;
  padding: 0em !important;
}
.profile-events-div {
  display: flex;
  flex-direction: column;
  gap: 1em 0em;
}
.profile-events-join {
  margin-bottom: 5em;
}
.right-side-profile-div {
  width: 50%;
}
.left-side-profile-div {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 2em 0em;
}
