* {
  box-sizing: border-box;
  margin: 0;
}
.signup-form .form-div div input {
  padding: 1.2em;
  height: 2em;
  border: 1px solid black;
  margin: 0.4em 0em;
  width: 100%;
}
.signup-form .form-div div input:focus {
  outline: none !important;
}
.signup-form {
  margin: 8em auto;
  width: 500px;
}
.signup-btn {
  margin-top: 1em !important;
  border-radius: 0.3em !important;
  width: 80% !important;
  padding: 0.5em 2em !important;
  background-color: var(--regal-blue);
  color: white !important;
  display: flex;
  justify-content: center;
}
a[class="signup-btn"]:hover {
  background-color: var(--bondi-blue) !important;
  color: white !important;
}

.form-div {
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.5), 0 35px 22px rgba(0, 0, 0, 0.16);
  border-radius: 1em;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.form-div input {
  padding: 1em;
  height: 3em;
  border-radius: 0.2em;
}
a[class="to-login"] {
  text-decoration: underline !important;
  background-color: white !important;
  color: black !important;
  font-size: 0.9em;
}
a[class="to-login"]:hover {
  color: rgb(138, 136, 136) !important;
}
.input-error {
  border-color: #fc8181 !important;
}
.error {
  color: #fc8181;
  font-size: 12px;
  text-align: left;
}
.white-p {
  color: white !important;
}
.input-divs {
  max-height: 3em;
  padding: 0em;
  width: 80%;
  margin-bottom: 0.5em;
}
